name: Keepalive Workflow
on:
  schedule:
    # 每天 UTC 时间 00:00 运行
    - cron: '0 0 * * *'
  workflow_dispatch:
permissions:
  actions: write
jobs:
  keepalive:
    name: Keepalive Workflow
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: gautamkrishnar/keepalive-workflow@v2
          with:
            # 可选：提交消息
            commit-message: 'chore: keepalive commit'
            # 可选：分支名称，默认为当前分支
            branch: main
